<nav
  [ngClass]="{ 'bg-background': isScrolled, 'bg-transparent': !isScrolled }"
  class="sticky top-0 z-50 transition-all"
>
  <div
    class="flex gap-4 justify-between p-4 items-center w-full max-w-5xl mx-auto"
  >
    @if(!isRootRoute()) {
    <app-navigate-back-button />
    <a
      routerLink="/"
      class="flex justify-center items-center cursor-pointer bg-muted p-2 rounded-full"
    >
      <span class="material-symbols-outlined"> home </span>
    </a>
    } @else {
    <a
      routerLink="/"
      class="flex justify-center items-center cursor-pointer bg-muted p-2 rounded-full"
    >
      <span class="material-symbols-outlined"> home</span>
    </a>
    }
    <app-search-input (search)="searchArtist($event)" />
    @if(!isLoggedIn() ){
    <app-sign-in-button />
    } @else {
    <app-sign-out-button />
    }
  </div>
</nav>
