<header class="max-w-5xl mx-auto">
  @if(album$ | async; as album){
  <div class="flex flex-col lg:flex-row gap-4 p-4">
    <img
      [src]="album.images[0]"
      [alt]="album.name"
      class="mx-auto lg:mx-0 aspect-square w-72 lg:w-48 rounded object-cover"
    />
    <div class="flex flex-col pt-4 lg:pt-0">
      <p
        class="font-bold text-2xl text-center lg:text-5xl lg:mb-4 lg:text-left"
      >
        {{ album.name }}
      </p>
      <p class="text-center lg:text-lg lg:text-left">
        {{ album.releaseDate | date }} - {{ album.totalTracks }} tracks
      </p>
    </div>
  </div>
  }
</header>

<main class="max-w-5xl mx-auto p-4 lg:p-0">
  @if (tracks$ | async; as tracks) {
  <!--  -->
  @if(tracks.length > 0) {
  <div class="flex items-center gap-2 w-full px-0 lg:px-4 border-b py-4 mb-4">
    <div>Title</div>
    <div class="flex ml-auto">
      <span class="material-symbols-outlined"> schedule </span>
    </div>
  </div>
  }
  <ul class="flex flex-col gap-4 lg:gap-0">
    @for (track of tracks; track track.id) {
    <li class="">
      <a [href]="track.trackUrl" target="_blank">
        <div
          class="flex flex-row gap-4 justify-between items-center hover:bg-accent transition-all lg:py-2 lg:px-4 rounded"
        >
          <div class="flex flex-col">
            <p class="font-bold line-clamp-1">{{ track.name }}</p>
            <p class="line-clamp-1 text-muted-foreground">
              {{ track.artists.join(", ") }}
            </p>
          </div>
          <p class="text-sm line-clamp-1">
            {{ track.duration | duration }}
          </p>
        </div>
      </a>
    </li>
    } @empty {
    <p class="font-bold text-2xl px-4 mb-4">
      This album doesn't have any tracks
    </p>
    }
  </ul>
  }

  <!--  -->
  @if ((isAlbumLoading() || isTracksLoading())) {
  <div class="flex items-center justify-center p-8">
    <div
      class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-accent"
    ></div>
  </div>
  }

  <!--  -->
  @if (albumError()) {
  <div class="text-destructive mb-4 px-4" role="alert">
    <p>{{ albumError() }}</p>
  </div>
  }

  <!--  -->
  @if (tracksError()) {
  <div class="text-destructive mb-4 px-4" role="alert">
    <p>{{ tracksError() }}</p>
  </div>
  }
</main>
