<main class="max-w-5xl mx-auto p-4">
  @if (artists$ | async; as artists) {
  <ul class="flex flex-col lg:grid lg:grid-cols-4 gap-4">
    @for (artist of artists; track artist.id) {
    <li>
      <a [routerLink]="['/artists', artist.id]">
        <app-search-result [artist]="artist" />
      </a>
    </li>
    } @empty {
    <p>No artists found for this search.</p>
    }
  </ul>
  }

  <!--  -->
  @if (isArtistsLoading()) {
  <app-loader />
  }

  <!--  -->
  @if (artistsError()) {
  <app-error-message [message]="artistsError()" />
  }
</main>
